{% extends "layout.html" %}

{% block title %}
    My BMI
{% endblock %}

{% block main %}
    <form action="/BMI" method="post">
        <div class="mb-3">
            <b>Please enter your Weight in Kilograms</b>
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="weight" name="weight" placeholder="Weight" type="number" step=".01">
        </div>
        <div class="mb-3">
            <b>Please enter your Height in meters</b>
            <input class="form-control mx-auto w-auto" id="height" name="height" placeholder="Height" type="number" step=".01">
        </div>
        <button class="btn btn-primary" type="submit">Calculate BMI</button>
    </form>
{% endblock %}