{% extends "layout.html" %}

{% block title %}
    All plans
{% endblock %}

{% block main %}
        <div id="video">
            <h1>Stay fit</h1>
            <iframe width="1280" height="720" src="https://www.youtube.com/embed/wppLAEXbtOs" title="20 Min HIIT Full Body Workout At Home |  No Repeats, No Equipment | Burn Fat + Calories!!!"
            frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div id="video">
            <h1>Fat loss</h1>
            <iframe width="1280" height="720" src="https://www.youtube.com/embed/IT94xC35u6k" title="20 min Fat Burning Workout for TOTAL BEGINNERS (Achievable, No Equipment)"
            frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div id="video">
            <h1>Muscle gain</h1>
            <iframe width="1280" height="720" src="https://www.youtube.com/embed/RuXmYDGcoa8" title="Build Muscle - Full Body | No Equipment | 30 Minutes Bodyweight Workout at Home | #CrockFit"
            frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
{% endblock %}